html, body {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
html{
	width: 100%;
	height: 100%;
	margin: 0;
	flex-direction: row;
	text-align: center;
	font-family: 'DS-Digital';
	overflow: hidden;
}
body {
	margin: 0;
	flex-direction: row;
	flex-wrap: wrap;
	background: steelblue
    linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 50%) center center /
    100% 4em;
}
.scoreBorder {
	padding: 10px;
	background-color: red;
	margin-bottom: 45%;
	border-radius: 10px 0 0 10px;
	box-shadow: -13px 11px 25px 9px rgba(34, 60, 80, 0.63);
	margin-left: -145px;
	filter: grayscale(10%);
}
.score {
	width: 135px;
	background-color: #333;
	color: greenyellow;
	font-size: 50px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: inset 0px 0px 16px black;
	text-shadow: 0 0 5px #fff, 0 0 10px green;
	user-select: none;
}
.slotMachine {
	background-color: red;
	margin-bottom: 0;
	height: max-content;
	padding: 20px 25px 10px;
	margin: 0;
	border-radius: 2.5% 2.5% 0 0;
	box-shadow: -13px 11px 25px 9px rgba(34, 60, 80, 0.63);
	filter: grayscale(10%);
}
.deviceScreen {
	padding: 15px;
	background-color: #444;
	box-shadow: inset 0px 0px 40px black;
	border-radius: 2.5%;
}
.content {
	border-radius: 50%/5%;
	position: relative;
	overflow: hidden;
	filter: grayscale(75%);
}
.rain {
	position: absolute;
	display: flex;
	border-radius: 5%/50%;
	width: 500px;
	height: 500px;
	z-index: 2;
}
canvas {
	margin: -5px 0;
	display: flex;
	border-radius: 5%/50%;
}
.keys_start_restart button {
	padding: 3px;
	margin: 20px 50px;
	border-radius: 50%;
	font-size: 22px;
	letter-spacing: 2px;
	border: none;
	transition: .25s;
	outline: none;
	width: max-content;
	height: max-content;
}
.keys_start_restart img {
	width: 50px;
	display: flex;
	filter: invert(1);
}
.key_restart {
	box-shadow: 0 0 5px white, 0 0 10px #0000ff, 0 0 15px white;
	background-color: #0000ff;
}
.key_restart:hover {
	box-shadow: 0 0 2px white, 0 0 4px #0000ff, 0 0 8px white;
	background-color: #4a28ea;
}
.key_start {
	box-shadow: 0 0 5px white, 0 0 10px #00ff00, 0 0 15px white;
	background-color: #00ff00;
}
.key_start:hover {
	box-shadow: 0 0 2px white, 0 0 4px #00ff00, 0 0 8px white;
	background-color: #4aea37;
}
.controlField {
	display: none;
	grid-template-areas:
	"key_left keys_up_down key_right";
	align-items: center;
	justify-items: center;
	box-shadow: inset 0px 2px 3px 5px #900020;
	border-radius: 50px 50px 0 0;
	background-color: #f5f5f5;
}
.controlField button, .keys_up_down {
	display: flex;
	align-items: center;
	justify-content: center;
}
.controlField button {
	outline: none;
	margin: 20px;
	padding: 5px;
	border-radius: 50%;
	border: 5px solid #555;
	width: max-content;
	height: max-content;
	background-color: red;
}
.controlField img {
	height: 115px;
	pointer-events: none;
	user-select: none;
	filter: invert(.3);
}
.key_up {
	grid-area: key_up;
}
.key_right {
	grid-area: key_right;
}
.keys_up_down {
	grid-area: keys_up_down;
	flex-direction: column;
	background-color: transparent;
	padding: 5px 0;
	width: max-content;
	height: max-content;
}
.description {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 25px 15px;
	left: auto;
	right: 0;
	height: 100%;
	background-color: #111;
	font-size: 30px;
	color: #fff;
	user-select: none;
	pointer-events: none;
	text-shadow: 0 0 2px white, 0 0 4px #00ff00, 0 0 8px white;
	box-shadow: -13px 11px 25px 9px rgba(34, 60, 80, 0.63);
	border-left: 10px solid #b00000;
}
.description img {
	width: 300px;
	filter: invert(1);
	margin: 20px 0;
}
@font-face {
	font-family: 'DS-Digital';
	src: url('../fonts/DS-Digital-Bold.eot');
	src: local('../fonts/DS-Digital Bold'), local('../fonts/DS-Digital-Bold'),
		url('../fonts/DS-Digital-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DS-Digital-Bold.woff') format('woff'),
		url('../fonts/DS-Digital-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}